{% extends 'base.html' %}

{% block content %}
</br>
<!--div class="container-fluid" style="width:80%; ">

<div class="row content" style="background-color:#009933;"-->
<div class="jumbotron" style="padding:20px 60px 20px 60px;background-color:#336600;margin:10px 150px; width:80%;">
	<h3 style="color:#ffffff;">Welcome back {{uname}} !</h3>
	<h4 style="color:#ffffff;">Customer ID: {{cid}}</h4>
	{% if aid %}
	<h4 style="color:#ffffff;">Account ID: {{aid}}</h4>
	{% endif %}
	{% if reward %}
	<h4 style="color:#ffffff;">Green Reward: ${{reward}}</h4>
	{% endif %}
</div>
<!--/div>
</div-->

{% if reward %}
<!--div class="container-fluid" style="width:80%;">
<div class="row content" >
<div class = "col-sm-2"></div-->
<div id="piechart" style="height: 400px; margin:10px 150px; width:80%;"></div>
<!--div class = "col-sm-2"></div>
</div>
</div-->

<!--div class="container-fluid" style="width:80%;">
<div class="row content" >
<div class = "col-sm-2"></div-->
<div id="linechart" style="height: 400px; margin:10px 150px; width:80%;"></div>
<!--div class = "col-sm-2"></div>
</div>
</div-->
{% endif %}



<script>
document.getElementById("logout").style.visibility = "visible";
var piedata = [];
var linedata = [];
{% for k,v in pie.items %}
var x = {y:parseFloat({{v}}),indexLabel:"{{k}}"};
piedata.push(x);
{% endfor %}
{% for k,v in line %}
var z = {x:new Date('{{k}}'),y:parseFloat({{v}})};
linedata.push(z);
{% endfor %}
console.log(piedata);
console.log(linedata);
var piechart = new CanvasJS.Chart("piechart",
		{
			theme:"theme2",
			title:{
				text: "Your Rewards Current Statement"
			},
			data:[
				{
					type:"pie",
					showInLegend: true,
					toolTipContent: "{y} - #percent %",
					yValueFormatString: "#0.#",
					legendText: "{indexLabel}",
					dataPoints: piedata
				}
			]
		});
piechart.render();
var linechart = new CanvasJS.Chart("linechart",{
	title:{
		text: "Your Rewards Last 12 Months"
	},
	data:[{
		type:"line",
		dataPoints:linedata
	}]
});
linechart.render();
</script>
{% endblock %}
