{% extends 'base.html' %}
{%load staticfiles %}

{% block content %}

<div id="login-modal"  role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog">
<div class="modal-content">
<div id="div-forms">
		<form method="post" action="{% url 'login' %}"
			id="login-form" style="height:408px; width:280px;
			align: left;background: url({%static 'img/app_background_ver4.png' %});">
		{% csrf_token %}
		<div style="width: 80%; margin: 0 auto; padding: 50px 0px 20px 0px">
		{% if form.errors %}
		<p align="center" style="color:red;">Your username and password didn't match. Please try again.</p>
		{% else %}
		<p align="center" style="color:red;visibility: hidden;">Your username and password didn't match. Please try again.</p>
		{% endif %}
						<div class="modal-body">
							{{ form.username }}
							{{ form.password }}
						</div>
						
						<div class="modal-footer" >
						<div>
								<input type="submit" value="Login" class="btn btn-primary btn-lg btn-block">
								<input type="hidden" name="next" value="{{ next }}" />
								<a href="{% url 'register' %}" style="color:#000;">Register</a>
						</div>
						</div>
		</div>
		</form>
</div>
</div>
</div>
</div>
{% endblock %}
